<!DOCTYPE html>
<html>
    <head>
        <title>TheControlHub</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" href="https://i.imgur.com/RCADv79.png">
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">The Control Hub 🌐</h1>
                <p class="lead">Monitor and control robots live.</p>
                    <hr class="my-2">
                    <h1>Welcome to the Hub!</h1>
                    <!--a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a-->
	            <a style="font-size:180%;color:red" href="https://www.ned-ies.org/poll/category-2/">🗳️ Vote for Automating Agriculture</a>
                </p>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="padding: 10px 40px;">
            <a class="navbar-brand active" href="http://thecontrolhub.com.s3-website-ap-southeast-1.amazonaws.com/"><h2>TheControlHub</h2></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://s3.ap-southeast-1.amazonaws.com/thecontrolhub-livecamera.com/livecameras.html"><h4>Live Cameras</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://18.138.8.208/monitor"><h4>Monitor</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://18.138.8.208/logs"><h4>Plant Logs</h4></a>
                </li>
            </ul>
        </nav>
        <div class = "container">
            <p></p>
            <div id = "homecarousel" class="carousel slide" data-slide="carousel">
                <ul class = "carousel-indicators">
                <li data-target = "#homecarousel" data-slide-to="0" class="active"></li>
                <li data-target = "#homecarousel" data-slide-to="1"></li>
                <li data-target = "#homecarousel" data-slide-to="2"></li>
                <li data-target = "#homecarousel" data-slide-to="3"></li>
                <li data-target = "#homecarousel" data-slide-to="4"></li>
                </ul>
                <div class = "carousel-inner">
                    <div class="carousel-item active">
                        <img src = "https://i.imgur.com/jyaYlsV.jpeg" width="1110" height = "550" frameborder = "0" class="rounded" alt = "image">
                    </div>
                    <div class="carousel-item">
                        <img src = "https://i.imgur.com/pKp7irs.png" width="1110" height = "550" frameborder = "0" class="rounded" alt = "image">
                    </div>
                    <div class="carousel-item">
                        <img src = "https://i.imgur.com/8vShSpN.png" width="1110" height = "550" frameborder = "0" class="rounded" alt = "image">
                    </div>
                    <div class="carousel-item">
                        <img src = "https://i.imgur.com/HOiC7x9.jpeg" width="1110" height = "550" frameborder = "0" class="rounded" alt = "image">
                    </div>
                    <div class="carousel-item">
                        <img src = "https://i.imgur.com/8VEaDwt.png" width="1110" height = "550" frameborder = "0" class="rounded" alt = "image">
                    </div>
                </div>
                <a class = "carousel-control-prev" href = "#homecarousel" data-slide = "prev">
                    <span class = "carousel-control-prev-icon"></span>
                </a> 
                <a class = "carousel-control-next" href = "#homecarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <p></p>
            <h1>Why Automate Agriculture?</h1>
            <p>As Singapore lies one degree north of the equator, we only have one season all year round. 
                Being a highly-populated and land-scarce urban city with a population of 5.7 million and only 724 sq km of land, less than 1% of our land is available for farming.
                While both local and imported produce are important to Singapore’s food security, we are aiming to produce 30% of our nutritional needs by 2030 to reduce our reliance on imports.
            </p>
            <p></p>
            <h1>What does Automating Agriculture mean?</h1>
            <p>Seeds are irradiated using UV-C radiation to improve the harvest quality. Process of sowing seeds is automated using a moving device that uses Infrared Radiation (IR).
                Saplings are grown using red and blue LEDs. Soil moisture levels are also monitored in order to calculate the adequate amount of water required by the plant to grow,
                making irrigation process more effective and eliminating over-irrigation. Harvested plants are irradiated using UV-C. 
                Integrated Smart Manual Control over the entire farm. 
            </p>
            <p></p>
            <h1>What's our Goal?</h1>
            <p>Singapore aims to produce atleats 30% of our nutritional needs by 2030. 
                We aim to help achieve that goal.</p>
            <p></p>
        </div>
    </body>
</html>